@page "/users"
@inject IUsersRepository usersRepository
@inject DialogService DialogService
@using L00161840BlazorProject.Client.Pages.Auth
@attribute [Authorize(Roles = "Admin")]
<RadzenDialog />


<h3>User overview</h3>
<div style="margin-bottom:30px;width:800px">
    <RadzenDataGrid ColumnWidth="150px" AllowFiltering="true" AllowPaging="true" PageSize="25" AllowSorting="true" Data="@Users" TItem="UserDTO">
        <Columns>
            <RadzenDataGridColumn TItem="UserDTO" Filterable="false" Sortable="false" Width="90px">
                <Template Context="data">
                    <a href="/users/edit/@data.UserId" class="btn btn-success">Edit</a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="UserDTO" Property="Name" Title="Name" Width="200px" />
            <RadzenDataGridColumn TItem="UserDTO" Property="Email" Title="Email" Width="250px" />
        </Columns>
    </RadzenDataGrid>
</div>
 

            <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Primary" Text="Invite Admin" Click="AdminInvitePage"></RadzenButton>

            @code {
                List<UserDTO> Users;

                protected override async Task OnInitializedAsync()
                {
                    await LoadUsers();
                }



                private async Task LoadUsers()
                {
                    Users = await usersRepository.GetUsers();

                }
                private async Task AdminInvitePage()
                {
                    await DialogService.OpenAsync<AddAdmin>("Add an Admin");
                }
            }
