@page "/payitems/add"
@inject IPayItemRepository payItemRepository

@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>Add Pay Group</h3>

<PayItemForm PayItem="PayItem" OnValidSubmit="Add" />


@code {


    PayItem PayItem = new PayItem();


    private async Task Add()
    {
        await payItemRepository.CreatePayItem(PayItem);
        navigationManager.NavigateTo("company");
    }
}
