<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">L00161840BlazorProject</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                @if (EmployeeId > 0)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@myPayrollLink" @onmouseover="GetLink">
                            <span class="oi oi-person" aria-hidden="true"></span> My Payroll
                        </NavLink>
                    </li>
                }
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="company">
                        <span class="oi oi-briefcase" aria-hidden="true"></span> Company
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="employee/overview">
                        <span class="oi oi-people" aria-hidden="true"></span> Employee Overview
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="payroll/overview">
                        <span class="oi oi-euro" aria-hidden="true"></span> Payroll Overview
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="payroll/import">
                        <span class="oi oi-file" aria-hidden="true"></span> Payroll Import
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-monitor" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

    </ul>

</div>


@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; }
    private string myPayrollLink ="/";

    private async Task GetLink()
    {
        var authState = await AuthenticationState;
        EmployeeId = authState.User.EmployeeId();
        if (EmployeeId > 0)
            myPayrollLink = $"/employee/view/{EmployeeId}";
        else
            myPayrollLink = "/";
    }

    private int EmployeeId = 0;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        await GetLink();
        StateHasChanged();
    }

}
